<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/movieindex.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"> </script>    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/movieindex.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myController" >
  <nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
      <a class="navbar-brand" href="#">Hello Ashok</a>
    </div>
    <ul class="nav navbar-nav">
    	<li><a href="#" ng-click="value='TOP_RATED'">Top Rated Movies</a></li>
    	<li><a href="#" ng-click="value='RECOMMENDED'">Your Recommended Movies</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Movies By Genre
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="value='ADVENTURE'">Adventure</a></li>
          <li><a href="#" ng-click="value='HISTORICAL'">Historical</a></li>
          <li><a href="#" ng-click="value='HORROR'">Horror</a></li>
          <li><a href="#" ng-click="value='ANIMATED'">Animated</a></li>
        </ul>
        </li>

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Movies By Language
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="value='LANGUAGE_ENGLISH'">English</a></li>
          <li><a href="#" ng-click="value='LANGUAGE_HINDI'">Hindi</a></li>
          <li><a href="#" ng-click="value='LANGUAGE_FRENCH'">French</a></li>
          <li><a href="#" ng-click="value='LANGUAGE_KOREAN'">Korean</a></li>
        </ul>
        </li>


        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Movies By Year Released
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="value='BEFORE1970'">Before 1970</a></li>
          <li><a href="#" ng-click="value='1970-1980'">1970-1980</a></li>
          <li><a href="#" ng-click="value='1980-1990'">1980-1990</a></li>
          <li><a href="#" ng-click="value='1990-2000'">1990-2000</a></li>
          <li><a href="#" ng-click="value='2000-2010'">2000-2010</a></li>
          <li><a href="#" ng-click="value='After2010'"> After 2000</a></li>
        </ul>
        </li>
      <li> 
      <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchValue">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" ng-click="clickSearchButton(searchValue)">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
      </li>
      <li>
      <button class="btn btn-danger navbar-btn"><a href="javascript:close_window();">LOG OUT</a></button>
      </li>
      </ul>
  </nav>
  </div>
  <div>{{value}}   {{ searchValue}}</div>
  </body>
  </html>